/*------------------- tagit ---------------------*/
/* line 514, ../sass/screen.scss */
ul#tag-field {
  padding: 0;
  margin: 0 0 0px 0px;
}

/*------------------- breadcrumb button ---------------------*/
/* line 520, ../sass/screen.scss */
input.btn {
  float: left;
  margin-left: 0px;
}

/* line 524, ../sass/screen.scss */
.qq-upload-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 50;
  z-index: 2;
  background: #FF9797;
  text-align: center;
}

/* PAGINATION */

.pagination {
  border-top: 0;
  margin: 0;
  padding: 0.3em 0.2em;
  text-align: center;
/*     -moz-box-shadow: 0 0 3px 1px #AAAAAA;
  -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
          box-shadow: 0 0 3px 1px #AAAAAA;*/
  /*background-color: #EFEFEF;*/
}

.pagination a,
.pagination .currentStep {
  color: #666666;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.25em 0.7em;
  text-decoration: none;
     -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
          border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}
#breadcrumb .navbar-search .search-query {
  margin-top: 3px;
  width: 100px;

}

form select{
  width: 285px;
}

.select2-container{
  width: 285px;

}

.block-stick-img {
    display: block;
    margin-bottom: 10px;
    margin-left: 15px;
}

.event{
  font-size: 16px; 
  text-align: left;

}


.stick_outside {
    padding: 0px 50px 0px 30px;
    text-align: center;
    width: 188px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.stick {
    padding: 20px 50px 25px 30px;
    width: 188px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
form.form-thumbnail {
  margin-bottom: 0px;
}
