@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
html {
  /*background-color: #252525;*/
}

/* line 13, ../sass/screen.scss */
body {
  font-size: 12pt;
  /* readability background */
  /* background-color: #f8f8f5; */
  /*
  background: #fafafa url("../images/content_inner_bg.png");
  */
  background-color: #f5f5f5;
}

/*-------------------- Layouts --------------------------*/
/* line 27, ../sass/screen.scss */
.padding-around {
  padding: 20px;
}

/* line 31, ../sass/screen.scss */
.margin-around {
  margin: 20px;
}

/* line 35, ../sass/screen.scss */
.textalign-right {
  text-align: right;
}

/* line 36, ../sass/screen.scss */
.textalign-center {
  text-align: center;
}

/* line 37, ../sass/screen.scss */
.textalign-left {
  text-align: left;
}

/* line 39, ../sass/screen.scss */
.margin-below {
  margin-bottom: 24px;
}

/* line 43, ../sass/screen.scss */
.padding-leftside {
  padding: 20px 0 20px 20px;
}

/* line 47, ../sass/screen.scss */
.padding-rightside {
  padding: 20px 20px 20px 0;
}

@media (max-width: 767px) {
  /* line 52, ../sass/screen.scss */
  .padding-leftside {
    padding: 20px;
  }

  /* line 55, ../sass/screen.scss */
  .padding-rightside {
    padding: 20px;
  }
}
/*--------------------- Fonts ---------------------------*/
@font-face {
  font-family: "Allura";
  src: url('/stylesheets/fonts/../../font/Allura-Regular-webfont.woff') format('woff'), url('/stylesheets/fonts/../../font/Allura-Regular-webfont.eot') format('embedded-opentype'), url('/stylesheets/fonts/../../font/Allura-Regular-webfont.ttf') format('truetype'), url('/stylesheets/fonts/../../font/Allura-Regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "Droid Sans Mono";
  src: url('/stylesheets/fonts/../../font/DroidSansMono-webfont.woff') format('woff'), url('/stylesheets/fonts/../../font/DroidSansMono-webfont.eot') format('embedded-opentype'), url('/stylesheets/fonts/../../font/DroidSansMono-webfont.ttf') format('truetype'), url('/stylesheets/fonts/../../font/DroidSansMono-webfont.svg') format('svg');
}

/* line 68, ../sass/screen.scss */
.logo-font {
  font-family: Allura, sans-serif;
  cursor: pointer;
}

/* line 73, ../sass/screen.scss */
.code-font {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 11pt;
}

/* line 78, ../sass/screen.scss */
p.larger-font {
  font-size: 16pt;
  line-height: 150%;
}

/*--------------------- Headings ---------------------------------------------*/
/* 重設標題字型大小 */
/* line 86, ../sass/screen.scss */
h1 {
  font-size: 22pt;
}

/* line 87, ../sass/screen.scss */
h2 {
  font-size: 20pt;
}

/* line 88, ../sass/screen.scss */
h3 {
  font-size: 18pt;
}

/* line 89, ../sass/screen.scss */
h4 {
  font-size: 16pt;
}

/* line 90, ../sass/screen.scss */
h5 {
  font-size: 14pt;
}

/* line 91, ../sass/screen.scss */
h6 {
  font-size: 12pt;
}

/* line 93, ../sass/screen.scss */
h1, h2, h3, h4 {
  text-shadow: 0 0 1px transparent, #aaaaaa 1pt 1pt 2pt;
}

/* line 97, ../sass/screen.scss */
h1 small, h2 small, h3 small, h4 small {
  text-shadow: none;
}

/* line 102, ../sass/screen.scss */
.carousel h1, .carousel h2, .carousel h3, .carousel h4 {
  text-shadow: none;
}

/*---------------------- Just Font -------------------------------------------*/
/* line 109, ../sass/screen.scss */
.justfont {
  text-rendering: optimizelegibility;
}
/* line 112, ../sass/screen.scss */
.justfont h1, .justfont h2, .justfont h3, .justfont h4, .justfont h5, .justfont h6 {
  font-weight: normal;
}
/* line 119, ../sass/screen.scss */
.justfont h2, .justfont h3 {
  margin-top: 20px;
}
/* line 123, ../sass/screen.scss */
.justfont p, .justfont li, .justfont blockquote {
  font-size: 12pt;
  line-height: 200%;
  letter-spacing: 1px;
}
/* line 129, ../sass/screen.scss */
.justfont p, .justfont ul {
  margin-bottom: 20px;
}
/* line 133, ../sass/screen.scss */
.justfont pre, .justfont code, .justfont textarea {
  font-size: 11pt;
  line-height: 150%;
  font-family: 'Droid Sans Mono', monospace;
}
/* line 140, ../sass/screen.scss */
.justfont .page-header p {
  line-height: 100%;
  margin: 0;
  padding: 0;
}
/* line 148, ../sass/screen.scss */
.justfont .nav li {
  font-size: 10pt;
}

/* 投影用大字型 */
/* line 156, ../sass/screen.scss */
.justfont.larger-font p, .justfont.larger-font li, .justfont.larger-font blockquote {
  font-size: 16pt;
}
/* line 159, ../sass/screen.scss */
.justfont.larger-font pre, .justfont.larger-font code, .justfont.larger-font textarea {
  font-size: 14pt;
}

/* 縮小字型 */
/* line 166, ../sass/screen.scss */
.justfont.smaller-font p, .justfont.smaller-font li, .justfont.smaller-font blockquote {
  font-size: 11pt;
}
/* line 169, ../sass/screen.scss */
.justfont.smaller-font pre, .justfont.smaller-font code, .justfont.smaller-font textarea {
  font-size: 9pt;
}

/*------------------- Theming ---------------------------*/
/* line 176, ../sass/screen.scss */
a.brand {
  display: inline-block;
  text-align: center;
  width: 120px;
}

/* line 182, ../sass/screen.scss */
.icon-green {
  color: #57ad56;
}

/* line 183, ../sass/screen.scss */
.icon-blue {
  color: #2d80b7;
}

/* line 184, ../sass/screen.scss */
.icon-red {
  color: #ff0000;
}

/* line 185, ../sass/screen.scss */
.icon-yellow {
  color: yellow;
}

/* line 186, ../sass/screen.scss */
.icon-gray {
  color: gray;
}

/* line 188, ../sass/screen.scss */
.clearlook-wrapper {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dadada;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07451);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07451);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07451);
}

/* line 197, ../sass/screen.scss */
#menu-container a {
  line-height: 150%;
}
/* line 201, ../sass/screen.scss */
#menu-container #close-menu-button {
  position: relative;
  top: -10px;
  right: -15px;
}

/* line 208, ../sass/screen.scss */
ul.links {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 213, ../sass/screen.scss */
ul.links a {
  display: inline-block;
  color: #333333;
  padding: 0 5px;
  font-size: 11pt;
}
/* line 220, ../sass/screen.scss */
ul.links li {
  line-height: 200%;
  border-bottom: 1px solid #e1e1e1;
}
/* line 225, ../sass/screen.scss */
ul.links li:hover {
  background: #dadada;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/*-------------------- Product Marketing ---------------*/
/* line 233, ../sass/screen.scss */
.product-marketing {
  padding: 20px;
  font-size: 10pt;
}
/* line 238, ../sass/screen.scss */
.product-marketing .slogan {
  font-size: 18pt;
  line-height: 160%;
}
/* line 244, ../sass/screen.scss */
.product-marketing .features li {
  line-height: 200%;
  font-size: 12pt;
}
/* line 250, ../sass/screen.scss */
.product-marketing .rights {
  font-size: 9pt;
  color: #cccccc;
  padding-top: 15px;
}
/* line 256, ../sass/screen.scss */
.product-marketing .controls {
  padding-left: 20px;
}

/* line 261, ../sass/screen.scss */
.product-preview {
  padding: 15px;
}
/* line 264, ../sass/screen.scss */
.product-preview .carousel-caption {
  text-align: center;
  letter-spacing: 1px;
}

/*--------------------- Progress Tracker -------------------------------------*/
/* line 272, ../sass/screen.scss */
.progress-tracker {
  padding: 25px 0;
}
/* line 280, ../sass/screen.scss */
.progress-tracker .steps ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 285, ../sass/screen.scss */
.progress-tracker .steps li {
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
  display: inline-block;
  text-align: center;
  color: #2a3a5c;
}
/* line 294, ../sass/screen.scss */
.progress-tracker .steps li.active {
  font-size: 14pt;
  color: #b10e0e;
}

/*--------------------- 加強表單 ----------------------------------------------*/
/* line 305, ../sass/screen.scss */
label.required {
  font-weight: bold;
}

/* line 309, ../sass/screen.scss */
span.required-mark {
  font-weight: bold;
  color: red;
}

/* 附件區 */
/* line 315, ../sass/screen.scss */
iframe#attachment-frame {
  width: 95%;
  height: 360px;
  border: none;
}

/* line 321, ../sass/screen.scss */
.wmd-preview, .wmd-input {
  height: 360px;
}

/* line 326, ../sass/screen.scss */
.test-report pre {
  font-family: 'Droid Sans Mono', monospace;
  border: 0;
  font-size: 11pt;
  padding: 0;
  margin: 5px 0;
  background: none;
}
/* line 336, ../sass/screen.scss */
.test-report .test-error {
  background-color: #D4BFBE;
}
/* line 339, ../sass/screen.scss */
.test-report .test-hint {
  background-color: #77FF77;
}

/*-------------------- Source Code -------------------------------------------*/
/*----------------------- Footer --------------------*/
/* line 394, ../sass/screen.scss */
.footer {
  background-color: #252525;
  font-size: 10pt;
  /*border-top: 3px solid #dadada;*/
  border-top: 1px solid #000000;
  -webkit-box-shadow: 0 0 5px 1px #505050;
  -moz-box-shadow: 0 0 5px 1px #505050;
  box-shadow: 0 0 5px 1px #505050;
}
/* line 403, ../sass/screen.scss */
.footer a {
  color: #bdbdbd;
}
/* line 407, ../sass/screen.scss */
.footer a:hover {
  color: #252525;
}
/* line 411, ../sass/screen.scss */
.footer span.logo {
  color: white;
  font-size: 28pt;
}
/* line 416, ../sass/screen.scss */
.footer p.visions {
  /*padding-top: 1em;*/
  /*padding-bottom: 2em;*/
}

/*---------------- Responsive Design ----------------*/
/* responsive object width */
/* line 425, ../sass/screen.scss */
img, iframe, video, embed, object {
  max-width: 100% !important;
  display: inline-block;
}

/*
CSS: Elastic Videos
http://webdesignerwall.com/tutorials/css-elastic-videos
*/
/* Elastic HTML5 Videos  */
/* line 436, ../sass/screen.scss */
video {
  max-width: 100%;
  height: auto;
}

/* Elastic Object & Iframe Embedded Videos */
/* line 442, ../sass/screen.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 452, ../sass/screen.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*------------------ Common Styles ------------------*/
/* line 462, ../sass/screen.scss */
.font-monospace {
  font-family: 'Droid Sans Mono', monospace;
}

/* line 466, ../sass/screen.scss */
.effect-text-shadow {
  text-shadow: 0 0 1px transparent, #aaaaaa 1pt 1pt 2pt;
}

/* line 470, ../sass/screen.scss */
.effect-text-shadow-black {
  text-shadow: 0 0 1px transparent, black 1pt 1pt 2pt;
}

/* line 474, ../sass/screen.scss */
.effect-round-corner {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 478, ../sass/screen.scss */
.effect-box-shadow {
  -webkit-box-shadow: 3px 3px 3px #999999;
  -moz-box-shadow: 3px 3px 3px #999999;
  box-shadow: 3px 3px 3px #999999;
}

/* line 482, ../sass/screen.scss */
.effect-blur {
  -webkit-filter: blur(5px) grayscale(50%);
}

/*------------------- PinStrap Block Layout ---------------------*/
/* line 489, ../sass/screen.scss */
.pin-block {
  width: 180px;
  margin: 5px;
  padding: 5px;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  background: white;
}
/* line 499, ../sass/screen.scss */
.pin-block .title {
  width: 100%;
  font-size: 10pt;
  display: inline-block;
  color: gray;
}
/* line 506, ../sass/screen.scss */
.pin-block .image {
  display: inline-block;
  height: 240px;
  overflow: hidden;
}
