/*-------------------- CodeMirror ----------------------*/

.codemirror-auto {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}

.CodeMirror {
	border: 1px solid #dadada;
	font-family: 'Droid Sans Mono', monospace;
	font-size: 11pt;
	background: white;
}

.CodeMirror-lines, .CodeMirror-gutter {
	font-family: 'Droid Sans Mono', monospace;
	line-height: 1.5em;
}

/*.CodeMirror-fullscreen {
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 9999;
}*/


