/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "compass/css3";

html {
    /*background-color: #252525;*/
}

body {
	font-size: 12pt;

	/* readability background */
	/* background-color: #f8f8f5; */

	/*
	background: #fafafa url("../images/content_inner_bg.png");
	*/
	background-color: #f5f5f5;
}

/*-------------------- Layouts --------------------------*/

.padding-around {
    padding: 20px;
}

.margin-around {
    margin: 20px;
}

.textalign-right  { text-align: right;  }
.textalign-center { text-align: center; }
.textalign-left   { text-align: left;   }

.margin-below {
    margin-bottom: 24px;
}

.padding-leftside {
    padding: 20px 0 20px 20px;
}

.padding-rightside {
    padding: 20px 20px 20px 0;
}

@media (max-width: 767px) {
    .padding-leftside {
        padding: 20px;
    }
    .padding-rightside {
        padding: 20px;
    }
}

/*--------------------- Fonts ---------------------------*/

//Allura for Logo
@include font-face("Allura", font-files("../../font/Allura-Regular-webfont.woff", "../../font/Allura-Regular-webfont.eot", "../../font/Allura-Regular-webfont.ttf", "../../font/Allura-Regular-webfont.svg"));

//Droid Sans Mono for Code Block
@include font-face("Droid Sans Mono", font-files("../../font/DroidSansMono-webfont.woff", "../../font/DroidSansMono-webfont.eot", "../../font/DroidSansMono-webfont.ttf", "../../font/DroidSansMono-webfont.svg"));

.logo-font {
	font-family: Allura, sans-serif;
	cursor: pointer;
}

.code-font {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 11pt;
}

p.larger-font {
    font-size: 16pt;
    line-height: 150%;
}

/*--------------------- Headings ---------------------------------------------*/

/* 重設標題字型大小 */
h1 { font-size: 22pt; }
h2 { font-size: 20pt; }
h3 { font-size: 18pt; }
h4 { font-size: 16pt; }
h5 { font-size: 14pt; }
h6 { font-size: 12pt; }

h1, h2, h3, h4 {
	@include text-shadow(0 0 1px transparent, #aaa 1pt 1pt 2pt);
}

h1 small, h2 small, h3 small, h4 small {
	@include text-shadow(none);
}

.carousel {
	h1, h2, h3, h4 {
		@include text-shadow(none);
	}
}

/*---------------------- Just Font -------------------------------------------*/

.justfont {
	text-rendering: optimizelegibility;
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	
	h1, h2, h3, h4 {
	}

	h2, h3 {
	    margin-top: 20px;
    }
	
	p, li, blockquote {
		font-size: 12pt;
		line-height: 200%;
		letter-spacing: 1px;
	}
	
	p, ul {
	    margin-bottom: 20px;
    }

	pre, code, textarea {
		font-size: 11pt;
		line-height: 150%;
		font-family: 'Droid Sans Mono', monospace;
	}
	
    .page-header {
        p {
            line-height: 100%;
            margin:0;
            padding:0;
        }
    }
    
    .nav {
        li {
            font-size: 10pt;
        }
    }
}

/* 投影用大字型 */
.justfont.larger-font {
	p, li, blockquote {
		font-size: 16pt;
	}
	pre, code, textarea {
	    font-size: 14pt;
	}
}

/* 縮小字型 */
.justfont.smaller-font {
    p, li, blockquote {
        font-size: 11pt;
    }
    pre, code, textarea {
        font-size: 9pt;
    }
}

/*------------------- Theming ---------------------------*/

a.brand {
    display: inline-block;
    text-align: center;
    width: 120px;
}

.icon-green { color: #57ad56; }
.icon-blue { color: #2d80b7; }
.icon-red { color: #ff0000; }
.icon-yellow { color: yellow; }
.icon-gray { color: gray; }

.clearlook-wrapper {
    background-color: #fff;
    @include border-radius(6px);
    border: 1px solid #dadada;
    @include single-box-shadow(rgba(0, 0, 0, 0.0745098), 0px, 1px, 2px, 0px);
}

#menu-container {

    a {
        line-height: 150%;
    }

    #close-menu-button {
        position: relative;
        top: -10px;
        right: -15px;
    }
}

ul.links {
	list-style: none;
	margin: 0;
	padding: 0;

    a {
        display: inline-block;
        color: #333333;
        padding: 0 5px;
        font-size: 11pt;
    }

	li {
    	line-height: 200%;
		border-bottom: 1px solid #e1e1e1;
	}
	
	li:hover {
	    background: #dadada;
	    @include single-box-shadow(rgba(0, 0, 0, 0.5), 1px, 1px, 2px);
	}
}

/*-------------------- Product Marketing ---------------*/

.product-marketing {
    padding: 20px;

    font-size: 10pt;
    
    .slogan {
        font-size: 18pt;
        line-height: 160%;
    }
    
    .features {
        li {
            line-height: 200%;
            font-size: 12pt;
        }
    }
    
    .rights {
        font-size: 9pt;
        color: #cccccc;
        padding-top: 15px;
    }
    
    .controls {
        padding-left: 20px;
    }
}

.product-preview {
    padding: 15px;

    .carousel-caption {
        text-align: center;
        letter-spacing: 1px;
    }
}

/*--------------------- Progress Tracker -------------------------------------*/

.progress-tracker {
    //background-image: url(../images/lightgray_bg.png);
    padding: 25px 0;
    //@include border-radius(6px);
    //border: 1px solid #dadada;
    //@include single-box-shadow(rgba(0, 0, 0, 0.0745098), 0px, 1px, 2px, false, inset);
    
    .steps {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            margin: 0;
            padding: 0;
            float: left;
            width: 25%;
            display: inline-block;
            text-align: center;
            color: #2a3a5c;
        }
        li.active {
            font-size: 14pt;
            color: #b10e0e;
            //font-weight: bold;
        }
    }
}


/*--------------------- 加強表單 ----------------------------------------------*/

label.required {
	font-weight: bold;
}

span.required-mark {
	font-weight: bold;
	color: red;
}

/* 附件區 */
iframe#attachment-frame {
	width: 95%;
	height: 360px;
	border: none;
}

.wmd-preview, .wmd-input {
    height: 360px;
}

.test-report {
	pre {
		font-family: 'Droid Sans Mono', monospace;
		border: 0;
		font-size: 11pt;
		padding: 0;
		margin: 5px 0;
		background: none;
	}
	.test-ok {
	}
	.test-error {
		background-color: #D4BFBE;
	}
	.test-hint {
		background-color: #77FF77;
	}
}

/*-------------------- Source Code -------------------------------------------*/

/* Markdown 文字區塊排版調校 */

.markdown-source {
	display: none;
}

.markdown-source {
	p, li {
		line-height: 200%;
	}
	pre, code {
		line-height: 150%;
		font-family: 'Droid Sans Mono', monospace;
	}
}

.widget {
	padding: 5px;
	margin: 0;
	border: 1px solid #7d2b58;
	width: 240px;

	header.top {
		margin: 0;
		padding: 0;
		text-align: right;
		font-style: italic;
		color: #0000aa;
	}

	figure {
		margin: 0;
		padding: 0;
		height: 160px;
		overflow: hidden;
	}

	section {
		margin: 0;
		padding: 0;
		color: #888888;
		font-size: 10pt;
		line-height: 150%;
	}
}

/*----------------------- Footer --------------------*/

.footer {

    background-color: #252525;
    font-size: 10pt;

    /*border-top: 3px solid #dadada;*/
    border-top: 1px solid #000000;
    @include single-box-shadow(#505050, 0, 0, 5px, 1px);
    
    a {
        color: #bdbdbd;
    }

    a:hover {
        color: #252525;
    }

    span.logo {
        color: white;
        font-size: 28pt;
    }
    
    p.visions {
        /*padding-top: 1em;*/
        /*padding-bottom: 2em;*/
    }
}

/*---------------- Responsive Design ----------------*/

/* responsive object width */
img, iframe, video, embed, object {
    max-width: 100% !important;
	display: inline-block;
}


/*
CSS: Elastic Videos
http://webdesignerwall.com/tutorials/css-elastic-videos
*/
/* Elastic HTML5 Videos  */
video {
	max-width: 100%;
	height: auto;
}

/* Elastic Object & Iframe Embedded Videos */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*------------------ Common Styles ------------------*/

.font-monospace {
	font-family: 'Droid Sans Mono', monospace;
}

.effect-text-shadow {
	@include text-shadow(0 0 1px transparent, #aaa 1pt 1pt 2pt);
}

.effect-text-shadow-black {
	@include text-shadow(0 0 1px transparent, #000 1pt 1pt 2pt);
}

.effect-round-corner {
	@include border-radius(6px);
}

.effect-box-shadow {
	@include single-box-shadow(#999999, 3px, 3px, 3px);
}

.effect-blur {
	-webkit-filter: blur(5px) grayscale(50%);
	//-webkit-transform: scale(0.9);
}

/*------------------- PinStrap Block Layout ---------------------*/

.pin-block {
    width: 180px;
    margin: 5px;
    padding: 5px;
    float: left;
	
	@include single-box-shadow(rgba(34, 25, 25, 0.4), 0, 1px, 3px);

    background: white;

    .title {
        width: 100%;
        font-size: 10pt;
        display: inline-block;
        color: gray;
    }

    .image {
        display: inline-block;
        height: 240px;
        overflow: hidden;
    }
}
